.container{
    display:grid;
    grid-template-columns: 250px 250px 250px 250px 250px;
     grid-template-rows: 65px 76px 176px 380px 250px 150px 150px; 
    grid-template-areas: "img1 img1 img1 img1 img2" "img1 img1 img1 img1 img3" "img1 img1 img1 img1 img4" "img5 img5 img6 img7 img8" "img9 img10 img10 img11 img12" "img9 img14 img15 img15 img16" "img13 img14 img17 img18 img19" "img20 img21 img21 . .";
    width: 1300px;
    margin: auto;
    border: 10px solid grey;
    gap: 10px;
    padding: 10px;
}

.navbar{
    background-color:rgb(166, 158, 144);
    width: 1320px;
    border: grey 10px solid;
    margin: auto
}

div > a{
    color:rgb(109, 89, 74);
    text-decoration:none;
    font-size: 20px;
    margin-left:20px;
}

div > a:hover{
    text-decoration:underline;
}

.item-1{
    grid-area: img1 ;
    
}

.item-2{
    grid-area: img2 ;
    
}
.item-3{
    grid-area: img3 ;
    
}
.item-4{
    grid-area: img4 ;
    
}
.item-5{
    grid-area: img5 ;
    
}
.item-6{
    grid-area: img6 ;
    
}
.item-7{
    grid-area: img7 ;
    
}
.item-8{
    grid-area: img8 ;
    
}
.item-9{
    grid-area: img9 ;
    
}
.item-10{
    grid-area: img10 ;
    
}
.item-11{
    grid-area: img11 ;
    
}
.item-12{
    grid-area: img12 ;
    
}
.item-13{
    grid-area: img13 ;
    
    margin-top: auto;
}
.item-14{
    grid-area: img14 ;
    
}
.item-15{
    grid-area: img15 ;
    
}
.item-16{
    grid-area: img16 ;
    
}
.item-17{
    grid-area: img17 ;
}
.item-18{
    grid-area: img18 ;
}
.item-19{
    grid-area: img19 ;
}
.item-20{
    grid-area: img20 ;
}
.item-21{
    grid-area: img21 ;
}

.imageSize{
    width: 100%;
    height: 100%;
    display: block;
}

.specialImageSize{
    width: 100%;
    height: 33%;
}